<div id="circleslider3">
  <div class="viewport circleborder">
    <ul class="overview">
      <li><a  [routerLink] = "['/chapter']" ><img src="assets/images/hdr3.jpg" /></a></li>
      <li><a [routerLink] = "['/chapter']"><img src="assets/images/hdr2.jpg" /></a></li>
      <li><a [routerLink] = "['/chapter']"><img src="assets/images/hdr1.jpg" /></a></li>
      <li><a [routerLink] = "['/chapter']"><img src="assets/images/hdr4.jpg" /></a></li>
      <li><a [routerLink] = "['/chapter']"><img src="assets/images/hdr5.jpg" /></a></li>
      <li><a [routerLink] = "['/chapter']" ><img src="assets/images/hdr3.jpg" /></a></li>
      <li><a [routerLink] = "['/chapter']"><img src="assets/images/hdr2.jpg" /></a></li>
      <li><a [routerLink] = "['/chapter']"><img src="assets/images/hdr1.jpg" /></a></li>
      <li><a [routerLink] = "['/chapter']"><img src="assets/images/hdr4.jpg" /></a></li>
      <li><a [routerLink] = "['/chapter']"><img src="assets/images/hdr5.jpg" /></a></li>
    </ul>
  </div>

  <div class="dot" title="art"></div>
  <div class="overlay"></div>
  <div class="thumb"></div>
</div>