<div id="pop_up">
<div>
<div class="alert_head">
<h5>{{data.name}}&nbsp;</h5>
</div>
<div class="timer_div">
<h5>{{ticks}}</h5>
</div>
</div>
<div class="opt_div">
<md-radio-group class="example-radio-group" [(ngModel)]="result">
    <md-radio-button class="example-radio-button" *ngFor="let opt of this.data.option let ia = index" [value]="ia">
      <h5>{{opt.name}}</h5>
    </md-radio-button>
</md-radio-group>
</div> 
<div class="submit" [hidden]="submit_show">
<button md-raised-button (click)="onNoClick(result)">Submit</button>
</div>
<div class="r_answer" *ngIf="c_answer">
  <h6>Correct Answer</h6>
</div>
<div class="w_answer" *ngIf="w_answer">
    <h6>Wrong Answer</h6>
</div>
<br>
<br>
    <div id="pb" class="progress">
      <div id="pb1" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:0%">
      <h6>{{prog_bar}}%</h6>
      </div>
</div>
</div>