<div class="background_color">
<div class="text_field">
  <div>
    <h2 class="head_text">Verification Code</h2>
  </div>
  <div class="otp">
    <div class="input_box_a">
      <h3 class="otp_field">{{a}}</h3>
    </div>
    <div class="input_box_b">
      <h3 class="otp_field">{{b}}</h3>
    </div>
    <div class="input_box_c">
      <h3 class="otp_field">{{c}}</h3>
    </div>
    <div class="input_box_d">
      <h3 class="otp_field">{{d}}</h3>
    </div>
  </div>
</div>
<div class="button_field">
  <button class="button_clas" (click)="numb(1)">1</button>
  <button class="button_clas" (click)="numb(2)">2</button>
  <button class="button_clas" (click)="numb(3)">3</button>
  <button class="button_clas" (click)="numb(4)">4</button>
  <button class="button_clas" (click)="numb(5)">5</button>
  <button class="button_clas" (click)="numb(6)">6</button>
  <button class="button_clas" (click)="numb(7)">7</button>
  <button class="button_clas" (click)="numb(8)">8</button>
  <button class="button_clas" (click)="numb(9)">9</button>
  <button class="button_clas" ></button>
  <button class="button_clas" (click)="numb(0)">0</button>
  <button class="button_clas" (click)="del()"><md-icon>backspace</md-icon></button>
</div>
</div>