<app-side-navigation></app-side-navigation>
<div class="col-md-12 margin_top">
<div class="col-md-6 container main_block">
    <div class="row">
      <div class="col-md-12">
        <div class="margin-20">
          <h4>Add Test</h4>
          <!-- <md-checkbox [(ngModel)]="english" (ngModelChange)="doSomething($event)">English</md-checkbox> -->
          <br>
          <md-checkbox *ngFor="let i of lang_test_question  let ia = index" [(ngModel)]="i.language_select" (ngModelChange)="doSomething($event)">{{i.Lang_Tittle}}&nbsp;&nbsp;</md-checkbox>
          <br>
        </div>
        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
          <div class="form-group">
            <md-form-field>
              <input mdInput placeholder="Test Name" formControlName="name">
            </md-form-field>
            <!-- <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                Test Name is required (minimum 5 characters).
              </small> -->
            <br>
            <md-form-field>
              <input mdInput placeholder="Test Description" formControlName="description">
            </md-form-field>
            <!-- <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                Test Description is required (minimum 5 characters).
              </small> -->
            <br>
            <md-form-field>
              <input mdInput placeholder="Start Time" formControlName="start_time">
            </md-form-field>
            <!-- <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                    Start Time is required (minimum 5 characters).
              </small> -->
            <br>
            <md-form-field>
              <input mdInput placeholder="Stop Time" formControlName="end_time">
            </md-form-field>
            <br>
            <md-form-field>
              <input mdInput placeholder="Test Duration" formControlName="test_duration">
            </md-form-field>
            <!-- <md-form-field>
                <input mdInput placeholder="Test URL" formControlName="test_url">
            </md-form-field> -->
            <!-- <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                    Stop Time is required (minimum 5 characters).
              </small> -->
            <!-- <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                    Test Image Url is required (minimum 5 characters).
              </small> -->
          </div>
          <!--question-->
          <div formArrayName="test_question">
            <div *ngFor="let address of myForm.controls.test_question.controls; let i=index" class="panel panel-default">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#{{i+1}}"><span >Question {{i + 1}}</span></a>
                <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.test_question.controls.length > 1" (click)="removeQuestion(i)"></span>
              </div>
              <div id="{{i+1}}" class="panel-collapse collapse in">
                <div class="panel-body" [formGroupName]="i">
                  <app-form-question [group]="myForm.controls.test_question.controls[i]"></app-form-question>
                </div>
              </div>
            </div>
          </div>
  
          <div class="margin-20">
            <a (click)="addQuestion()" style="cursor: default">
              Add another question +
            </a>
          </div>
  
          <div class="margin-20">
            <!-- <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button> -->
            <button  (click)="submit_test()" class="btn btn-primary pull-right">Submit</button> 
          </div>
          <div class="clearfix"></div>
  
          <!-- <div class="margin-20">
            <div>myForm details:-</div>
            <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
            <pre>form value: <br>{{myForm.value | json}}</pre>
          </div> -->
        </form>
      </div>
    </div>
  </div>
  <!-- <div id="here" *ngIf="preview_url" class="col-md-6 main_block">    -->
      <div id="here"class="col-md-6 main_block">     
          <!-- http://localhost:4200/#/preview-video-new  -->
        <iframe src="http://localhost:4200/#/video/1" width="100%" height="500">
          <p>Your browser does not support iframes.</p> 
        </iframe>
    </div>
    
</div>