p{
    font-size: 18px ;
}
h6{
    font-size: 20px;
}
h5{
    font-size: 22px;
}
button{
    font-size: 25px;
}
.marginbuttom{
   padding-bottom:10%;
}
.main_block{
    width: 50% !important;
    padding: 0 !important;
    margin: 0 !important;
}
.video_pos{
height:325px !important;
margin-top:15px;
}

/* side-navigation */
.mat-toolbar.mat-primary {
    background: rgba(0,0,0,.38);
    color: rgba(255,255,255,.87);
}
.bord{
    padding:0px 0 0px 0;
}
.example-container{
    width:100%;
}
.cars{
   max-width:100%;
   zoom:1.0;
}

.sidebar-toggle.mat-icon-button:focus
{
    background-color: rgba(255, 255, 255, 0);
}
.mat-icon-button{
  height: 6vh !important;
  width:10vw !important;
}
.material-icons{
  font-size:3vh !important;
}
.logout-badge
{
        color: #f44336 !important;
    background-color:  rgba(255,255,255,.15) !important;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }
  img{
      vertical-align: top;
  }
  .listimg{
    -webkit-filter: brightness(1.0);
    filter: brightness(1.0);
      width:100%;
      height:auto;
  }
  .testdetail{
    display: inline-block;
    padding:5px;
    color:black;
  }
  .backgrnd
  {
    background-size: 100% 100%;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .rel_division{
    position:relative; 
  }
  .absolute_division{
    position:absolute;
    top:40%;
    left: 10%;
    right:10%;
    font-size: 1em;
    color: white;
    font-weight: bold;
    vertical-align:middle;
    text-align:center;
    font-family: Lato;
    font-style: normal;
    font-variant: normal;
  }
  .absolute_division_up{
    position:absolute;
    top: 1.5vh;
    left: 7.0vw;
    /* top:13%;
    left: 34%; */
    right:10%;
    font-size: 1em;
    color: white;
    font-weight: bold;
    vertical-align:middle;
    text-align:center;
    font-family: Lato;
    font-style: normal;
    font-variant: normal;
  }
  .text_style{
    vertical-align:middle;
    text-align:center;
  }
  .tool_bar
  {
    background-color:white;
    position: fixed;
    top: 0;
    width: 100%; 
    overflow: hidden;
    z-index:1;
  }
  .main_content{
    margin-top:6vh !important;
    z-index:-1;
  }
  .hello{
    height:40vh !important;
  }
  .title_app{
    display:inline-block;
    width:80vw !important;
    text-align:center;
    vertical-align:middle;
    overflow: hidden;

  }
  .cust_font
  {
    font-size: 12px;
  }
  .button_div{
    display:inline-block;
    width:10vw !important;
  }
.headding_div{
  font-family:'TrajanProRegular';
}
.mindshift_head{
  height: 6vh !important;
  font-size: 3vh !important;
  line-height: 3.5vh !important;
  margin: 0 !important;
  padding-top: 1.5vh;
}
.button_styl{
  display:inline-block;
  width:10%;
}
.back_image{
  background-image: url(https://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg);
}
.ab{
  height:5em;
}
.carousel_top{
  margin-top: 15%;
  height: 10em;
}
.corousel_others{
  height: 10em;
}

.swipe-box {
  display: block;
  width: 10%;
  float: left;
  margin: 0;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
.swipee{
  width:100vw;
  height:100vh;
}
.swipe_img{
  width:30%;
  /* height:100px;  */
}
.dashboard_title{
  float:left;
  font-size:7px;
  width:30%;
}
.dashboard_bar{
  float:right;
  width:100%;
  padding-left:4px !important;
  padding-right: 4px !important;
  margin: 0 !important;
}
.padding_null{
  padding: 0 !important;
}
.dashboard_button{
  vertical-align: middle !important;
  color:currentColor !important;
}
.top_69pr{
  top:69% !important;
}
.margin_null{
  margin:0 !important;
}
.padding_lr_4px
{
  padding-left: 4px;
  padding-right: 4px;
}
.padding_lr_5px
{
  padding-left: 5px;
  padding-right: 5px;
}
.test_banner{
  height:15vh;
  width:auto;
  overflow-x: auto;
  white-space: nowrap;
}
.test_banner_character{
  height:15vh;
  width:auto;
  overflow-x: auto;
  white-space: nowrap;
}
.col{
  height: 13vh;
  width: 25vw;
  display: inline-block;
}
.col_img{
  height: 10vh;
  width: 25vw;
  display: inline-block;
}
.col1{
  height:90px;
  background-color: red;
  width:70px;
  display: inline-block;
}
.swipe_img_test{
  width:70px;
  height:90px;
}
.yourshift_class{
  text-align: center;
  height: 3vh;
  margin: 0;
  font-family: Lato;
  font-style: normal;
  font-variant: normal;
}
.button_div_class{
  background-color: #3176ff;
  width:100%;
  height:4vh;
  border: none;
  color:white;
  padding:0 ;
  font-size: 4vw;
  font-family: Lato;
  font-style: normal;
  font-variant: normal;
}
.grey_div{
  height: 0.5vh;
  width: 100%;
  background-color: lightgrey;
}
.white_div{
  height: 0.5vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.font_20px{
  font-size: 20px;
}

.dark-area {
  background-color: #666;
  padding: 40px;
  margin: 0 -40px 20px -40px;
  clear: both;
}

.clearfix:before,.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
.bg_color_white{
background-color:#ffffff00  !important;
}
.font_160px{
font-size:16vw;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
.col_percentge{
  height:10vh;
  margin: 0 !important;
  width:16vw;
  display: inline-block;
  margin-left: 2vw !important;
  margin-right: 2vw !important;
}
.test_name{
  font-size: 18px;
  text-align: center;
  margin: 0 !important;
  color: black;
  font-family: Lato;
  font-style: normal;
  font-variant: normal;
  height: 3vh !important;
}
.test_description{
  font-size: 5px;
  text-align: center;
  margin: 0 !important;
  color: black;
}
.shift_banner{
  height:15vh;
  width:auto;
  overflow-x: auto;
  white-space: nowrap;
}
.play_img{
  height: 12vw;
  width:12vw;
}
@media only screen and (orientation:portrait){
  html,body{height:auto !important;width:100vw;margin: 0px;}
}
.text_des{
padding-left: 2vw;
padding-right: 2vw;
padding-top: 5px;
padding-bottom: 5px;
margin: 0;
text-align: justify;
}
.vh_10{
  height:7.4vh;
  overflow: scroll;
}
.shift_des{
font-size: 16px;
padding-top: 10vh;
text-align: center;
margin:0 !important;
}
.col_img_character{
  height: 10vh;
  width: auto;
  display: inline-block;
}
.col_character{
  height: 13vh;
  width: auto;
  display: inline-block;
}
.margin_top{
    margin-top: 6vh;
}