<!-- <h5>Create Test</h5> -->
<!-- <div class="col-xs-12">
<div class="col-xs-12">
<h6>Enter Test Details</h6>
<br>
<p>Enter Test Name: <input type = "text" [(ngModel)] = "TestName"></p>
<p>Enter Test Discription: <input type = "text" [(ngModel)]= "TestDescription"></p>
<p>Enter Test Video Link: <input type = "text" [(ngModel)]= "TestVideo"></p>
</div>
<hr>
<div class="col-xs-12">
<h6>Enter Questions Details</h6>
<br>
<p>Enter Question Title: <input type = "text" [(ngModel)]= "QuestionTitle"></p>
<p>Enter Question Type: <input type = "text" [(ngModel)]= "QuestionType"></p>
<p>Enter Marks Allocated: <input type = "text"[(ngModel)]= "Marks"></p>
<p>Enter Pause Time: <input type = "text" [(ngModel)]= "PauseTime"></p>
<p>Enter Waiting Time: <input type = "text" [(ngModel)]= "WaitTime"></p>
<p>Enter Options: <input type = "text" [(ngModel)]= "Questionoption"></p>
</div>
</div> -->
<!-- <div class="marginbuttom" id="div1">
</div> -->
<!-- <div class="col-xs-12">
<button  (click)="myFunc()" class="button">Upload Test</button>
<button  (click)="myFunc1()" class="button">add</button>
<button  (click)="myFunc2()" class="button">console</button>
</div> -->
<!-- document.createElement(element) -->
<div class="col-md-12">
<div class="col-md-6 container main_block">
    <div class="row">
      <div class="col-md-12">
        <div class="margin-20">
          <h4>Add Test</h4>
        </div>
        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
          <div class="form-group">
            <label>Test Name</label>
            <input type="text" class="form-control" formControlName="name">
            <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                Test Name is required (minimum 5 characters).
              </small>
              <br>
              <label>Test Description</label>
            <input type="text" class="form-control" formControlName="description">
            <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                Test Description is required (minimum 5 characters).
              </small>
              <br>
              <label>Start Time</label>
            <input type="text" class="form-control" formControlName="description">
            <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                    Start Time is required (minimum 5 characters).
              </small>
            <br>
            <label>Stop Time</label>
            <input type="text" class="form-control" formControlName="description">
            <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                    Stop Time is required (minimum 5 characters).
              </small>
              <br>
              <label>Test Image Url</label>
            <input type="text" class="form-control" formControlName="description">
            <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                    Test Image Url is required (minimum 5 characters).
              </small>
          </div>
          <!--question-->
          <div formArrayName="test_question">
            <div *ngFor="let address of myForm.controls.test_question.controls; let i=index" class="panel panel-default">
              <div class="panel-heading">
                <span>Question {{i + 1}}</span>
                <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.test_question.controls.length > 1" (click)="removeQuestion(i)"></span>
              </div>
              <div class="panel-body" [formGroupName]="i">
                <app-form-question [group]="myForm.controls.test_question.controls[i]"></app-form-question>
              </div>
            </div>
          </div>
  
          <div class="margin-20">
            <a (click)="addQuestion()" style="cursor: default">
              Add another question +
            </a>
          </div>
  
          <div class="margin-20">
            <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
          </div>
          <div class="clearfix"></div>
  
          <!-- <div class="margin-20">
            <div>myForm details:-</div>
            <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
            <pre>form value: <br>{{myForm.value | json}}</pre>
          </div> -->
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6 main_block">   
        <vg-player class="video_pos" (onPlayerReady)="onPlayerReady($event)">
            <vg-buffering></vg-buffering>
            <vg-controls>
                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                <vg-mute></vg-mute>
                <vg-volume></vg-volume>
            </vg-controls>
            <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin autoplay>
                <!-- <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4"> -->
            </video>  
        </vg-player>
        <div class="col-xs-12">
            <h5>Videos</h5>
        </div> 
        <button  (click)="myFunc1()" class="button">Preview</button>   
        <button  (click)="myFunc2()" class="button">console</button>     
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Bob" formControlName="name">
          </div>
          <div class="form-group">
            <label for="avatar">Avatar</label>
            <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
            <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
          </div>
          <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
        </form>
    </div>
</div>