<app-side-navigation></app-side-navigation>
<div class="padding_top_6vh">

</div>
<div class="navbar">
  <img src="../../assets/images/logo.png" alt="Avatar" style="width:70px">
  <div class="trainner-detail">
    <p>Menthuza B.V Trainer<br>
      <small>MCA,MED,BEEAQ</small></p>

  </div>
  <div class="chat">
  <i class="material-icons" style="font-size:48px;color:white">chat</i>
</div>
</div>
<div class="navbarr">
   <h2 style="text-align:center">Maths </h2>
</div>
<div class="list_group">
<div *ngFor="let a of testresult">
  <div>
    <div class="panel panel-success"  *ngIf="a.val==1">
      <div class="panel-heading">
        {{a.quetion}}
        <div class="icons">
          <span *ngIf="a.val==1" class="glyphicon glyphicon-ok"></span>
          <span *ngIf="a.val==2" class="glyphicon glyphicon-option-horizontal"></span>
          <span *ngIf="a.val==0" class="glyphicon glyphicon-remove"></span>
        </div>
      </div>
      <div class="panel-body">{{a.answer}}
      </div>
    </div>
    <div class="panel  panel-danger" *ngIf="a.val==0">
      <div class="panel-heading">{{a.quetion}}
        <div class="icons">
          <span *ngIf="a.val==1" class="glyphicon glyphicon-ok"></span>
          <span *ngIf="a.val==2" class="glyphicon glyphicon-option-horizontal"></span>
          <span *ngIf="a.val==0" class="glyphicon glyphicon-remove"></span>
        </div>
      </div>
      <div class="panel-body">{{a.answer}}
      </div>
    </div>
    <div class="panel  panel-warning" *ngIf="a.val==2">
      <div class="panel-heading">{{a.quetion}}
        <div class="icons">
          <span *ngIf="a.val==1" class="glyphicon glyphicon-ok"></span>
          <span *ngIf="a.val==2" class="glyphicon glyphicon-option-horizontal"></span>
          <span *ngIf="a.val==0" class="glyphicon glyphicon-remove"></span>
        </div>
      </div>
      <div class="panel-body">{{a.answer}}
      </div>
    </div>
  </div>
</div>
</div>

