<div class="main_div">
  <div class="logo_div">
    <div class="logo_div">
      <img src="assets/images/logo.png" class="img_logo" alt="Mindshift">
    </div>
  </div>
  <div class="text_div">
    <input type="text" class="input_country" placeholder="India(+91)" readonly="readonly"/>
    <input type="number" class="input_mobile_no" placeholder="Your Phone Number" required pattern="[1-9]{1}[0-9]{9}"/>
    <button class="button_send" (click)="otp_redirect()"><md-icon>send</md-icon></button>
  </div>
</div>