<app-side-navigation></app-side-navigation>
<div class="padding_top_6vh">
<div class="page_heading">
  <div class="headding">
    <h1 class="page_title">Activity Log</h1>
  </div>
</div>
<div class="table_division">
  <table>
    <tr>
      <th>Module</th>
      <th>Field</th>
      <th>Previous Value</th>
      <th>New Value</th>
      <th>Change Date</th>
    </tr>
    <tr>
      <td>Test</td>
      <td>Test Name</td>
      <td>Pre</td>
      <td>Preface</td>
      <td>07-02-2018</td>
    </tr>
    <tr>
      <td>Designation</td>
      <td>Created Date</td>
      <td>10-12-2017</td>
      <td>06-02-2018</td>
      <td>07-02-2018</td>
    </tr>
  </table>
  </div>
  </div>