<h5>
  Permission
</h5>
<div>
  <select class="designation">
    <option value="manager">Manager</option>
    <option value="team_lead">Team Lead</option>
    <option value="Md">Managing Director</option>
  </select>
  <select class="designation">
    <option value="manager">Module 1</option>
    <option value="team_lead">Module 2</option>
    <option value="Md">Module 3</option>
  </select>
  <select class="designation">
    <option value="manager">Full Access</option>
    <option value="team_lead">Manage</option>
    <option value="Md">View</option>
    <option value="Mds">No Access</option>
  </select>
  <button>Submit</button>
</div>
