<app-side-navigation></app-side-navigation>
<div class="padding_top_6vh">
</div>
<h5>
  Permission
</h5>
<div *ngIf=(returnmsg&&return_access_control&&return_modules)>
   <label>Designation</label>
  <select class="designation" [(ngModel)]="designation">
    <option *ngFor="let i of returnmsg  let ia = index " value="{{i.Designation_Id}}">{{i.Designation_Name}}</option>
  </select>
  <label>Module</label>
  <select class="designation" [(ngModel)]="modules">
      <option *ngFor="let k of return_modules.menu  let ka = index " value="{{k.menu_details.Menu_Module_Id}}">{{k.menu_details.Menu_Module_Name}}</option>
  </select>
  <label>Access Level</label>
  <select class="designation" [(ngModel)]="access_level">
    <option *ngFor="let j of return_access_control.access_level_details  let ja = index " value="{{j.Access_Level_Id}}">{{j.Access_Level_Name}}</option>
  </select>
  <button md-fab class="edit_icon_button" (click)="permission_submit()">
    <md-icon aria-label="Example icon-button with a heart icon">create</md-icon>
  </button>
</div>
