.bord{
    border-style: solid;
    border-color: white;
    background-color: #ebe8e8;
}
.greybord{
    border-style: solid;
    border-color: #ebe8e8;
}
.testdetail{
    display: inline-block;
    padding:5px;
    color:black;
  }
  .cnter{
    color:black;
    text-align: left;
    font-size:2.5em;
    font-family: Lato;
    font-style: normal;
    font-variant: normal;
  }
  .justify{
    text-align: justify;
  }
  .cntera{
    color:black;
    text-align: left;
    font-size:1.5em;
    font-family: Lato;
    font-style: normal;
    font-variant: normal;
  }
  .chapter
  {
      padding: 2%;
      background-color:#ebe8e8;
      font-size:large;
      color: black;
      font-family: Lato;
      font-style: normal;
      font-variant: normal;
  }
  .chapter_des
  {
      padding: 2%;
      background-color:#ebe8e8;
      font-size:large;
      color: black;
      font-family: Lato;
      font-style: normal;
      font-variant: normal;
  }
  a{
    color: black; 
  }
  .chap_heading{
    font-size:1.5em;
    color: black;
    font-family: Lato;
    font-style: normal;
    font-variant: normal;
    text-align:center;
  }
  .disp_none{
      display:none;
  }
  .back_button{
    position:fixed;
    top:90%;
    left:44%;
  }
  p{
    margin: 0px 4% 10px;
  }
  .chapter_div{
    display:inline-block;
    width:85%;
  }
  .icon_div{
    display:inline-block;
    width:8%;
  }
  .icon_styl{
    height:98%;
    width:98%;
    vertical-align:20%;
  }
  .index{
    display:inline-block;
    width:5%;
  }
  .head{
    display:inline-block;
    width:90%;
  }
  .head_des{
    display:inline-block;
    width:90%;
  }
  .index_des{
    display:inline-block;
    width:5%;
  }
  .button_color{
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 100%;
    padding-top: 17px;
    font-size:3em;
    height:1.5em;
    width: 1.5em;
    text-align: center;
  }