<div>
<div *ngIf="returnmsg">
    <h4>Module:{{returnmsg.category[id_received].Test_Mod_Id}} </h4>
    <h4>Module Name:{{returnmsg.category[id_received].Test_Mod_Tittle}}  </h4>
    <h4>Module Description:{{returnmsg.category[id_received].Test_Mod_dec}}</h4>
</div>
<div *ngIf="returnmsg">
 <div *ngFor="let i of returnmsg.test  let ia = index">
<!--  --> 
<div *ngIf="i.category_id==returnmsg.category[id_received].Test_Mod_Id">
  <div  class="bord">
    <a (click)="selectvideolists(ia)"> 
        <img src="{{i.test_image}}" alt="Carousel"width="30%">  
        <h6 class="testdetail">Test Name: {{i.test_name}}</h6>
        <h6 class="testdetail">Test Description: {{i.test_description}}</h6>
      </a>
    </div>
</div>
</div>
</div>.
</div>
     
      
      
  
