.bord{
    border-style: solid;
    border-color: white;
    background-color: #ebe8e8;
}
.greybord{
    border-style: solid;
    border-color: #ebe8e8;
}
.testdetail{
    display: inline-block;
    padding:5px;
    color:black;
  }
  .cnter{
    color:black;
    text-align: left;
    font-size:2.5em;
    font-family: "Open Sans";
    font-weight: bold;
  }
  .cntera{
    color:black;
    text-align: left;
    font-size:1.5em;
    font-family: "Open Sans";
    font-weight: bold;
  }
  .chapter
  {
      padding: 2%;
      background-color:#ebe8e8;
      font-size:large;
      color: black;
      font-family: "Open Sans";
      font-weight: bold;
  }
  a{
    color: black; 
  }
  .chap_heading{
    font-size:1.5em;
    color: black;
    font-family: "Open Sans";
    font-weight: bold;
  }
  .disp_none{
      display:none;
  }
  .back_button{
    position:fixed;
    top:90%;
    left:49%;
  }
  p{
    margin: 0px 4% 10px;
  }