<button md-icon-button (click)="back()" class="back_button">
    <i class="material-icons">keyboard_backspace</i>
</button>
<div>
    <div *ngIf="returnmsg">
        <img src="{{returnmsg.category[id_received].Test_Mod_ImgId}}" alt="Carousel" width="100%"/>
    </div>
<div class="cnter" *ngIf="returnmsg">
    <p>{{returnmsg.category[id_received].Test_Mod_Tittle}}</p>
</div>
<div class="cntera" *ngIf="returnmsg">
   <p class="justify">{{returnmsg.category[id_received].Test_Mod_dec}}</p>
</div>
<div class="chap_heading">
<p>CHAPTERS</p>
</div>
<div *ngIf="returnmsg">
 <div *ngFor="let i of returnmsg.test  let ia = index">
<!--  --> 
<div class="bord" *ngIf="i.category_id==returnmsg.category[id_received].Test_Mod_Id">
    <a (click)="selectvideolists(i.test_id)">
    <div class="chapter_div">
        <p class="chapter">{{incr_count(1)}}&nbsp;&nbsp;{{i.test_name}}</p>
        <p class="chapter_des">{{i.test_description}}</p>
    </div>
    </a>
    <div class="icon_div">
        <a (click)="selectvideolists(ia)">
             <img src="assets/images/play.png" alt="play" class="icon_styl"/>
        </a>
    </div>
    </div>
    </div>
    <p class="disp_none">{{incr_count(0)}}</p>
  </div>
</div>
     
      
      
  
