@media only screen and (orientation:portrait){
  #video_div { 
    width:100%;
    background-color: black; 
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media only screen and (orientation:landscape){
  #video_div {  
    height:100%;
    width:100%;
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}
body{
  height: 100%;
  width:100%;
  background-color: black;
}
#singleVideo:-webkit-full-screen {
}
vg-player:fullscreen {
            width:100% !important;
            height:100% !important; 
        }