@media only screen and (orientation:portrait){
  #video_div {  
    height:650px;
    width:450px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media only screen and (orientation:landscape){
  #video_div {  
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}

#singleVideo:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
vg-player:fullscreen {
            width:100% !important;
            height:100% !important; 
        }