body {
    padding : 10px ;
    
  }
  
  #exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  #exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  /* remove border radius for the tab */
  
  #exTab1 .nav-pills > li > a {
    border-radius: 0;
  }
  
  /* change border radius for the tab , apply corners on top*/
  
  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
  }
  
  #exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }

  .carousel .carousel-item{
    width:100%;
  }
  .clearfix:before,.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
.bg_color_white{
background-color:rgba(255, 255, 255, 0) !important;
}
.font_160px{
font-size:16vw;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
.col_percentge{
  height:10vh;
  margin: 0 !important;
  width:16vw;
  display: inline-block;
  margin-left: 2vw !important;
  margin-right: 2vw !important;
  background-color: transparent;
}

/* table */

#data-grid-demo {
  min-height: 530px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
#myModal{
width: 100% !important;
height: 100% !important;
max-height: 100% !important;
background-color: transparent;
}
#myModal_delete{
width: 100% !important;
height: 100% !important;
max-height: 100% !important;
background-color: transparent;
}
.add_user{
  float: right;
}
.headding{
  float: left;
}
#myModal_add{
  width: 100% !important;
height: 100% !important;
max-height: 100% !important;
background-color: transparent;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.padding_top_6vh{
  padding-top: 6vh;
  }