<app-side-navigation></app-side-navigation>
 <div class="md-content padding_top_6vh" flex  (swipeleft)="swipe(idx, $event.type)" (swiperight)="swipe(idx, $event.type)">
    <md-tab-group md-stretch-tabs [(selectedIndex)]="selectedIndex" (selectedIndexChange)="selectChange()">
            <md-tab>
              <!-- <template md-tab-label>Profile</template> -->
              <h1 style="height:200px !important;">User Profile</h1>
            </md-tab>
            <md-tab>
                <!-- <template md-tab-label>Tests</template> -->
              <div class="table_division">
                <md-select placeholder="Select Designation"  [(value)]="designation">
                  <md-option *ngFor="let test of tests" [value]="test.value">
                    {{ test.viewValue }}
                  </md-option>
                </md-select>
              </div>
              <div class="table_division">
                <table>
                  <tr>
                    <th>Employee Name</th>
                    <th>Test Assigned</th>
                    <th>Test Completed</th>
                    <th>Test Due</th>
                  </tr>
                  <tr *ngIf="designation==1||designation==0">
                    <td>Manager1</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                  </tr>
                  <tr *ngIf="designation==2||designation==0">
                    <td>Officer1</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                  </tr>
                  <tr *ngIf="designation==3||designation==0">
                    <td>Clerk1</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                  </tr>
                </table>
              </div>
            </md-tab>
            <md-tab>
              <!-- <template md-tab-label>Report</template> -->
              <div class="padding_top_6vh">
                <h4>Report</h4>
                <div class="table_division">
                  <fusioncharts
                    width="95%" 
                    height="400"
                    type="column2d"
                    dataFormat="json"
                    [dataSource]=data >
                  </fusioncharts>
                  <fusioncharts
                    width="95%" 
                    height="400"
                    type="pie3d"
                    [dataSource]=dataSource >
                  </fusioncharts>
                  <fusioncharts
                    width="95%" 
                    height="400"
                    type="mscombi2d"
                    [dataSource]=dataSource1>
                  </fusioncharts>
                  <fusioncharts
                    width="95%" 
                    height="400"
                    type="msbar2d"
                    dataFormat="json"
                    [dataSource]=dataSource2 >
                  </fusioncharts>
                  <fusioncharts
                    width="95%" 
                    height="400"
                    type="column3d"
                    dataFormat="json"
                    [dataSource]=dataSource3 >
                  </fusioncharts>
                </div>
              </div>
            </md-tab>
    </md-tab-group>
  </div>

  <!-- <div id="exTab1" class="container width_100per padding_top_6vh padding_lr_null">	

    <div class="container width_100per padding_lr_null"><h2>User View</h2></div>
    
    <div id="exTab2" class="container width_100per padding_lr_null">	
    <ul class="nav nav-tabs">
          <li class="active">
            <a  href="#1" data-toggle="tab">About</a>
          </li>
          <li><a href="#2" data-toggle="tab">Tests </a>
          </li>
          <li><a href="#3" data-toggle="tab">Report</a>
          </li>
        </ul>
    
          <div class="tab-content ">
            <div class="tab-pane active" id="1">
              <h3>profile</h3>
            </div>
            <div class="tab-pane" id="2">
              <h3>Assigning</h3>
            </div>
            <div class="tab-pane" id="3">
                <div class="padding_top_6vh">
                    <h4>Report</h4>
                    <fusioncharts
                    width="100%" 
                    height="400"
                    type="column2d"
                    dataFormat="json"
                    [dataSource]=data >
                    </fusioncharts>
                    <fusioncharts
                    width="100%" 
                    height="400"
                    type="pie3d"
                    [dataSource]=dataSource >
                    </fusioncharts>
                    <fusioncharts
                    width="100%" 
                    height="400"
                    type="mscombi2d"
                    [dataSource]=dataSource1>
                    </fusioncharts>
                    <fusioncharts
                    width="100%" 
                    height="400"
                    type="msbar2d"
                    dataFormat="json"
                    [dataSource]=dataSource2 >
                    </fusioncharts>
                    <fusioncharts
                    width="100%" 
                    height="400"
                    type="column3d"
                    dataFormat="json"
                    [dataSource]=dataSource3 >
                    </fusioncharts>
                    </div>
            </div>
          </div>
      </div>
      </div> -->

      <!-- <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s3"><a href="#swipe-1">Test 1</a></li>
        <li class="tab col s3"><a class="active" href="#swipe-2">Test 2</a></li>
        <li class="tab col s3"><a href="#swipe-3">Test 3</a></li>
      </ul>
      <div id="swipe-1" class="col s12 blue">First tab content</div>
      <div id="swipe-2" class="col s12 red">Second tab content</div>
      <div id="swipe-3" class="col s12 green">Third tab content</div> -->

      <!-- <md-tab-group md-stretch-tabs [(selectedIndex)]="selectedIndex" [(tabs)]="tabs" swipeTab>
        <md-tab>
          <h1>a</h1>
        </md-tab>
        <md-tab>
           <h1>b</h1>
        </md-tab>
        <md-tab>
          <h1>c</h1>
        </md-tab>           
 </md-tab-group> -->