<div class="container">
  <div fxLayout="column" fxLayoutAlign="space-around center" class="content">
    <div>
      <img src="assets/images/logo.png" alt="MindShift" class="responsive-img" fxFlex>
    </div>
    <div >
      <form [hidden]="login_page" (submit)="sendmsg()" class="fa"><br>
        <md-form-field>
          <input mdInput placeholder="Mobile no" required [(ngModel)]="user.username" name="username">
        </md-form-field> <br>
        <button md-raised-button color="warn" type="submit" name="action">Generate OTP</button><br><br>
        <span id="err"><small>{{errorMsg1}}</small></span>
      </form>
      <form role="form" [hidden]="!login_page" (submit)="login()" class="fa"><br>
        <md-input-container>
          <input mdInput placeholder="Moblie No" required [(ngModel)]="user.username" name="username">
        </md-input-container><br><br>
        <md-input-container>
          <input mdInput placeholder="Password" required [(ngModel)]="user.password" name="password">
        </md-input-container><br><br>
        <button md-raised-button color="warn" type="submit" name="action">LOGIN</button><br><br>
        <span id="err"><small>{{errorMsg2}}</small></span>
      </form>
    </div>
  </div>
</div>
<!--
 <div class="fb">
   <div class="f">
    <img src="assets/images/logo.png" alt="MindShift" class="responsive-img valign profile-image-login" >
  </div> -->
