<div [formGroup]="myForm">
    <div class="form-group col-xs-6">
        <span *ngFor="let i of lang_test_question  let ia = index">
        <md-form-field *ngIf="i.language_select==true" > 
            <input mdInput placeholder="{{i.Lang_Tittle}} Question ?" formControlName="question">
        </md-form-field>
        </span>
        <!-- <md-form-field *ngIf="kannada">
            <input mdInput placeholder="Kannada Question ?" formControlName="question">
        </md-form-field>
        <md-form-field *ngIf="malayalam">
            <input mdInput placeholder="Malayalam Question ?" formControlName="question">
        </md-form-field>
        <md-form-field *ngIf="telugu">
            <input mdInput placeholder="Telugu Question ?" formControlName="question">
        </md-form-field>
        <md-form-field *ngIf="tamil">
            <input mdInput placeholder="Tamil Question ?" formControlName="question">
        </md-form-field> -->
    </div>
    <div class="form-group col-xs-6">
        <md-form-field>
            <input mdInput placeholder="Marks Allocated ?" formControlName="marks">
        </md-form-field>
    </div>
  <div class="form-group col-xs-6">
        <md-form-field>
            <input mdInput placeholder="Pause Time" formControlName="pause_time">
        </md-form-field>
      <!-- <small [hidden]="myForm.controls.pause_time.valid" class="text-danger">
        Pause Time is required
      </small> -->
  </div>
  <div class="form-group col-xs-6">
        <md-form-field>
            <input mdInput placeholder="Wait Time" formControlName="wait_time">
        </md-form-field>
  </div> 
  <br>
      <!--emails-->
    <div class="col-xs-12" formArrayName="options">
        <div *ngFor="let email of myForm.controls.options.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
                <span>Option {{i + 1}}</span>
                <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.options.controls.length > 1" (click)="removeOption(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
                <app-option [group]="myForm.controls.options.controls[i]"></app-option>
            </div>
        </div>
    </div>
    <div class="margin-20 col-xs-12">
        <button (click)="addOption()" class="btn btn-primary">
            Add Option +
        </button>
    </div>
</div>