<md-sidenav-container class="example-container">
	<!--<md-sidenav #sidenav class="example-sidenav">
		<md-nav-list>
			<a md-list-item *ngFor="let j of returnmsg_menu " >{{j.mn}}</a>
		</md-nav-list>
	</md-sidenav>
	<md-toolbar color="primary">
		<button md-icon-button (click)="sidenav.toggle()">
			<md-icon>menu</md-icon>
		</button>￼
	</md-toolbar> -->
	<div class="container">
			<div fxLayout="column" fxLayoutAlign="space-around center" class="content">
					<img src="assets/images/logo.png" alt="MindShift" class="responsive-img" style="margin-bottom:10%" fxFlex>
			<div flex>
					<div layout-xs="column" layout-sm="column"  layout="row" class="lang_selection" >
						 <div layout-xs="row" layout-sm="row"  layout="column" class="blocks" *ngFor="let i of returnmsg" link="black" flex>
								<div flex><a [routerLink] = "['/bcarousel']" link="black">
							<div flex><img src="{{i.Lang_Img}}" alt="language" style="max-width:20%;margin-left:40%"></div>
							<div flex><h6  style="text-align:center;color:black;">
								{{i.Lang_Tittle}}
							</h6></div>
						</a></div>
						</div>
					</div>
		</div>
			</div>
	</div><!--
	<div style="border-style: solid;" class="division">
		<table class="lang">
			<tr>
				<th *ngFor="let i of returnmsg ">
					<a [routerLink] = "['/bcarousel']">
						<img src="{{i.Lang_Img}}" alt="lan" class="lang_icon">
					</a>
				</th>
			</tr>
			<tr>
				<th *ngFor="let i of returnmsg ">
					{{i.Lang_Tittle}}
				</th>
			</tr>
		</table>
		</div>-->

		
		  
</md-sidenav-container>