select{
    display: block !important;
}
.user_div{
    padding-left: 15px;
    display: inline-block;
    width:22%;
}
.test_div{
    display: inline-block;
    width:22%;
}
.button_div{
    display: inline-block;
}
.padding_left_15px{
    padding-left: 15px;
}
.inline_block{
    display:inline-block;
}
.width_40pr{
    width: 40%;
}
#data-grid-demo {
    min-height: 530px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#myModal{
width: 100% !important;
height: 100% !important;
max-height: 100% !important;
background-color: transparent;
}
#myModal_delete{
width: 100% !important;
height: 100% !important;
max-height: 100% !important;
background-color: transparent;
}
.add_user{
    float: right;
}
.headding{
    float: left;
}
#myModal_add{
    width: 100% !important;
height: 100% !important;
max-height: 100% !important;
background-color: transparent;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.padding_top_6vh{
    padding-top: 6vh;
    }


    body {
        background-color: #f7f7f7;
        font-family: 'Roboto';
      }
      
      .container {
        margin: 150px auto;
        max-width: 640px;
      }
      
      select { width: 400px; }
      [type="checkbox"]:checked+label:before{
        transform: rotate(0deg) !important; 
      }
      .pure-checkbox input[type="checkbox"]:checked + label:before{
        transform: rotate(0deg) !important; 
      }
      angular2-multiselect .cuppa-dropdown .dropdown-list .list-area .lazyContainer span .pure-checkbox lable:before{
        transform: rotate(0deg) !important; 
      } 
      .pure-checkbox input[type="checkbox"]:checked + label:before{
        transform: rotate(0deg) !important; 
      }