<app-side-navigation></app-side-navigation>
<div  class="padding_top_6vh">
  <hr>
<div class="user_div">
  <md-select placeholder="Select User">
    <md-option *ngFor="let user of users" [value]="user.value">
      {{ user.viewValue }}
    </md-option>
  </md-select>
</div>
<div class="test_div">
  <md-select placeholder="Select Test">
    <md-option *ngFor="let test of tests" [value]="test.value">
      {{ test.viewValue }}
    </md-option>
  </md-select>
</div>
<div class="test_div">
    <md-form-field>
        <input mdInput [mdDatepicker]="picker" placeholder="Start Date">
        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
        <md-datepicker #picker></md-datepicker>
      </md-form-field>
</div>
<div class="test_div">
    <md-form-field>
        <input mdInput [mdDatepicker]="picker1" placeholder="Due Date">
        <md-datepicker-toggle mdSuffix [for]="picker1"></md-datepicker-toggle>
        <md-datepicker #picker1></md-datepicker>
      </md-form-field>
</div>
<div class="button_div">
  <button md-raised-button color="primary">Assign</button>
</div>
</div>
<hr>
<div>
<div class="padding_left_15px inline_block width_40pr">
  <h1>Tests</h1>
  <br>
  <md-select placeholder="Select User">
      <md-option *ngFor="let user of users" [value]="user.value">
        {{ user.viewValue }}
      </md-option>
    </md-select>
    <br>
    <br>
    <div>
    <div class="inline_block width_40pr">
    <p>Assigned</p>
    <md-checkbox>Test 1</md-checkbox>
    <br>
    <md-checkbox>Test 2</md-checkbox>
    <br>
    <md-checkbox>Test 3</md-checkbox>
    <br>
    <md-checkbox>Test 4</md-checkbox>
    <br>
  </div>
  <div class="inline_block width_40pr">
      <p>Un-Assigned</p>
      <md-checkbox>Test 5</md-checkbox>
      <br>
      <md-checkbox>Test 6</md-checkbox>
      <br>
      <md-checkbox>Test 7</md-checkbox>
      <br>
      <md-checkbox>Test 8</md-checkbox>
      <br>
    </div>
  </div>
</div>
<div class="inline_block width_40pr">
    <h1>Users</h1>
    <br>
    <md-select placeholder="Select Test">
        <md-option *ngFor="let test of tests" [value]="test.value">
          {{ test.viewValue }}
        </md-option>
      </md-select>
      <br>
      <br>
      <div>
      <div class="inline_block width_40pr">
      <p>Assigned</p>
      <md-checkbox>User 1</md-checkbox>
      <br>
      <md-checkbox>User 2</md-checkbox>
      <br>
      <md-checkbox>User 3</md-checkbox>
      <br>
      <md-checkbox>User 4</md-checkbox>
      <br>
    </div>
    <div class="inline_block width_40pr">
        <p>Un-Assigned</p>
        <md-checkbox>User 5</md-checkbox>
        <br>
        <md-checkbox>User 6</md-checkbox>
        <br>
        <md-checkbox>User 7</md-checkbox>
        <br>
        <md-checkbox>User 8</md-checkbox>
        <br>
      </div>
  </div>
  </div>
  <div class="button_div">
      <button md-raised-button color="primary">Assign</button>
    </div>
</div>
<hr>
<div class="modal fade" id="myModal_delete" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Department</h4>
        </div>
        <div class="modal-body">
          <p>Are You Want to Delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="delete()">Delete</button>
        </div>
      </div>
      
    </div>
  </div>