<vg-player *ngIf="isValid" (onPlayerReady)="onPlayerReady($event)">
  <vg-buffering></vg-buffering>
  <vg-controls>
    <vg-play-pause class="disp_inline_block"></vg-play-pause>
    <vg-playback-button class="disp_inline_block"></vg-playback-button>
    <vg-time-display class="disp_inline_block" vgProperty="current" vgFormat="mm:ss"></vg-time-display>
    <vg-scrub-bar class="disp_inline_block width_time_bar">
      <vg-scrub-bar-current-time class="current_buffer_timebar"  [vgSlider]="false"></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time class="current_buffer_timebar"></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>
    <vg-time-display class="disp_inline_block" vgProperty="total" vgFormat="mm:ss"></vg-time-display>
    <vg-mute class="disp_inline_block"></vg-mute>
    <vg-volume class="disp_inline_block"></vg-volume>
  </vg-controls>
  <video *ngIf="isValid" [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin autoplay>
    <source src="{{video_path_html}}" type="video/mp4">
  </video>
</vg-player>
