.mat-toolbar.mat-primary {
    background: rgba(0,0,0,.38);
    color: rgba(255,255,255,.87);
}
.bord{
    padding:2px 0 2px 0;
    border-style: solid;
    border-color: white;
}
.example-container{
    width:100%;
}
.cars{
   max-width:100%;
   zoom:2.4;
}

.sidebar-toggle.mat-icon-button:focus
{
    background-color: rgba(255, 255, 255, 0);
}
.logout-badge
{
        color: #f44336 !important;
    background-color:  rgba(255,255,255,.15) !important;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }
  img{
      vertical-align: top;
  }
  .listimg{
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3);
      max-width:100%;
  }
  .testdetail{
    display: inline-block;
    padding:5px;
    color:black;
  }
  .backgrnd
  {
    background-size: 100% 100%;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .rel_division{
    position:relative; 
  }
  .absolute_division{
    position:absolute;
    top:40%;
    left: 10%;
    right:10%;
    font-size: 1em;
    color: white;
    font-weight: bold;
    vertical-align:middle;
    text-align:center;
    font-family: Lato;
    font-style: normal;
    font-variant: normal;
  }
  .text_style{
    vertical-align:middle;
    text-align:center;
  }
  .tool_bar
  {
    background-color:white;
    position: fixed;
    top: 0;
    width: 100%; 
    overflow: hidden;
    z-index:1;
  }
  .main_content{
    margin-top:40px;
    z-index:-1;
  }
  .title_app{
    display:inline-block;
    width:80%;
    text-align:center;
    vertical-align:middle;
    overflow: hidden;

  }
  .cust_font
  {
    font-size: 12px;
  }
  .button_div{
    display:inline-block;
    width:10%;
  }
.headding_div{
  font-family:'TrajanProRegular';
}
.mindshift_head{
  margin-top:4%;
}
.button_styl{
  display:inline-block;
  width:10%;
}
.back_image{
  background-image: url(https://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg);
}