<html>
<head>
<script src="assets/external.js"></script>
<style type="text/css">
      
          html,body{width:auto;height:100%;margin: 0px;}
      </style>
</head>
<body>
<div  >
<div id="carousel">
      <div>
        <a> <img src="{{iproducts[0].Imag_Path}}" id="{{iproducts[0].Image_Act}}" class="ab1" /></a>
      </div>
      <div>
        <a> <img src="{{iproducts[1].Imag_Path}}" id="{{iproducts[1].Image_Act}}" class="ab1"/></a>
      </div>
        <div>
        <a> <img src="{{iproducts[2].Imag_Path}}" id="{{iproducts[2].Image_Act}}"  class="ab1"/></a>
        </div>
  </div>
</div>
</body>
</html>