body {
  font-family: Arial;
  font-size: 12px;
}

.example-desc {
  margin: 3px 0;
  padding: 5px;
}

@media screen and (max-width: 680px) {
  #carousel {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: auto;
    height: 400px;
    position: relative;
    clear: both;
    background: #FFF;
  }
}

@media screen and (min-width: 681px) {
  #carousel {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: auto;
    height: 662px;
    position: relative;
    clear: both;
    background: #FFF;
  }
}
@media screen and (orientation:portrait) {
    #carousel {
      -ms-transform: rotate(-90deg); /* IE 9 */
      -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
      transform: rotate(-90deg);
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      margin-bottom: auto;
      height: 662px;
      position: relative;
      clear: both;
      background: #FFF;
    }
  }

#carousel img {
  visibility: hidden;
  /* hide images until carousel can handle them */
  cursor: pointer;
  /* otherwise it's not as obvious items can be clicked */
}

.split-left {
  width: 600px;
  float: left;
}

.split-right {
  width: 400px;
  float: left;
  margin-left: 10px;
}

#callback-output {
  height: 250px;
  overflow: scroll;
}

textarea#newoptions {
  width: 430px;
}
.ab1
{
  width:60%;
  height:50%;
}
.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}