<html>
<head>
<script src="assets/external.js"></script>
</head>
<body>
<div id="carousel" onload="javascript:foo()">
        
        <a [routerLink] = "['/chapter']">  <img src="assets/images/Poster 5.jpg" id="item-1" style="width:900px;height:100%;" /></a>
        <a [routerLink] = "['/chapter']"> <img src="assets/images/Poster 6.jpg" id="item-2"  style="width:900px;height:100%;"/></a>
        <a [routerLink] = "['/chapter']"> <img src="assets/images/Poster 4.1.jpg" id="item-3"  style="width:900px;height:100%;"/></a>
</div>
</body>
</html>