.mat-toolbar.mat-primary {
    background: rgba(0,0,0,.38);
    color: rgba(255,255,255,.87);
}
.bord{
    border-style: solid;
    border-color: #A9A9A9
}
.example-container{
    width:100%;
}
.cars{
   max-width:100%;
   zoom:2.4;
}

.sidebar-toggle.mat-icon-button:focus
{
    background-color: rgba(255, 255, 255, 0);
}
.logout-badge
{
        color: #f44336 !important;
    background-color:  rgba(255,255,255,.15) !important;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }
  img{
      vertical-align: top;
  }
  .listimg{
     filter:blur(2px);
      max-width:100%;
      color:black;
      padding:5px;
      border-radius: 5% 5%;
  }
  .testdetail{
    display: inline-block;
    padding:5px;
    color:black;
  }
  .backgrnd
  {
    background-size: 100% 100%;
  }