<!-- side navigation menu -->
<app-side-navigation></app-side-navigation>

<!-- main content -->
<div *ngIf="online$ | async">
<div *ngIf="returnmsg&&return_report"  class="main_content" >

<!-- main image and description -->
<div class="hello">
  <img src="{{returnmsg.home_image.path}}" alt="Carousel" class="listimg">  
  <div class="vh_10 web_display_none">
    <p class="font_20px text_des">{{returnmsg.home_image.description}}</p>
  </div>
</div>

<!-- grey horizontal line -->
<div class="white_div web_display_none"></div>
<div class="grey_div web_display_none"></div>
<div class="white_div web_display_none"></div>

<!-- tests -->
<div  class="test_banner web_display_none">
  <a *ngFor="let i of returnmsg.test  let ia = index " (click)="selecttest(i.test_id)">
    <div class="col rel_division" >
    <img class="col_img"  src="{{i.test_image}}" >
    <p class="test_name">{{i.test_name}}</p>
    <div>
      <a (click)="selecttest(i.test_id)" > 
        <img class="absolute_division_up play_img"  src="assets/images/play_button.png" >
      </a>
    </div>
  </div>
  </a>
  <h1 *ngIf="returnmsg.text_data=='NO Test Assigned'" class="no_test">No Test Assigned</h1>
</div>

<!-- characters -->
<div  class="test_banner_character web_display_none">
  <a *ngFor="let i of returnmsg.characters  let ia = index">
      <a data-toggle="modal" data-target="#myModal_delete">
    <div class="col_character" >
      <div class="character_img">
        <img class="col_img_character"  src="{{i.Imag_Path}}" >
      </div>
      <div>
        <p class="test_name">{{i.Imag_Tittle}}</p>
      </div>
    </div>
  </a>
  </a>
</div>

<!-- grey horizontal line -->
<div class="grey_div web_display_none"></div>

<!-- user report -->
<h6 class="yourshift_class font_20px web_display_none">YOUR SHIFT</h6>
<div  class="shift_banner web_display_none">
  <div  class=" c100 p{{return_report.learningTest[0].module_percent}} big bg_color_white  font_160px col_percentge">
    <span>{{return_report.learningTest[0].module_percent}}%</span>
    <div class="slice ">
      <div class="bar"></div>
      <div class="fill"></div>
    </div>
    <div>
      <p class="shift_des">Sales</p>
    </div>
  </div>
  <div class="c100 p{{return_report.learningTest[1].module_percent}} big bg_color_white  font_160px col_percentge">
    <span>{{return_report.learningTest[1].module_percent}}%</span>
    <div class="slice">
      <div class="bar"></div>
      <div class="fill"></div>
    </div>
    <div>
      <p class="shift_des">Customer<br> Service</p>
    </div>
  </div>
  <div class="c100 p{{return_report.learningTest[2].module_percent}} big bg_color_white font_160px col_percentge">
    <span>{{return_report.learningTest[2].module_percent}}%</span>
    <div class="slice ">
      <div class="bar"></div>
      <div class="fill"></div>
    </div>
    <div>
      <p class="shift_des">Communication</p>
    </div>
  </div>
  <div class="c100 p{{return_report.learningTest[3].module_percent}} big bg_color_white font_160px col_percentge">
    <span>{{return_report.learningTest[3].module_percent}}%</span>
    <div class="slice ">
      <div class="bar"></div>
      <div class="fill"></div>
    </div>
    <div>
      <p class="shift_des">Team Work</p>
    </div>
  </div>
  <div class="c100 p{{return_report.learningTest[4].module_percent}} big bg_color_white font_160px col_percentge">
    <span>{{return_report.learningTest[4].module_percent}}%</span>
    <div class="slice ">
      <div class="bar"></div>
      <div class="fill"></div>
    </div>
    <div>
      <p class="shift_des">Product</p>
    </div>
  </div>   
</div>
<button *ngIf="returnmsg.text_data!='NO Test Assigned'" (click)="resume()" class="button_div_class web_display_none">RESUME</button>
<button *ngIf="returnmsg.text_data=='NO Test Assigned'" class="button_div_class web_display_none"><a href="http://djitsoft.com/">VISIT US</a></button>

<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_delete" >Delete</button> -->

<div class="modal fade" id="myModal_delete" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Author</h4>
      </div>
      <div class="modal-body">
        <p>Name</p>
        <p>Description</p>
        <p>Qualification</p>
        <p>Specialization</p>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="delete()">Delete</button> -->
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!-- offline message -->
<p class="no_network_msg" *ngIf="!(online$ | async)">Your Device is in Offline</p>