<app-side-navigation></app-side-navigation>
<div class="padding_top_6vh">
<div class="page_heading">
<div class="headding">
<h1 class="page_title">Chracter</h1>
</div>
<div class="add_user">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_add">Create Character</button>
</div>
</div>
<div class="table_division">
<table *ngIf="returnmsg">
  <tr>
    <th>Character ID</th>
    <th>Character Name</th>
    <th>Character Description</th>
    <th>Character Display Name</th>
    <th>Character Code</th>
    <th>Character URL</th>
    <th>control</th>
  </tr>
  <!-- <tr *ngFor="let i of returnmsg  let ia = index "> -->
    <tr>
    <td>1</td>
    <td>King</td>
    <td>King of Village</td>
    <td>King</td>
    <td>001</td>
    <td>www.character 1.com</td>
    <!-- <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" (click)="store_id(i.Dept_Id)">Edit</button>&nbsp;<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_delete"(click)="store_id(i.Dept_Id)" >Delete</button></td> -->
     <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Edit</button>&nbsp;<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_delete">Delete</button></td>
  </tr>
<!-- <tr *ngFor="let i of returnmsg  let ia = index "> -->
  <tr>
  <td>character 2</td>
  <td>character 2</td>
  <td>character 2</td>
  <td>character 2</td>
  <td>character 2</td>
  <td>www.character 2.com</td>
  <!-- <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" (click)="store_id(i.Dept_Id)">Edit</button>&nbsp;<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_delete"(click)="store_id(i.Dept_Id)" >Delete</button></td> -->
   <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Edit</button>&nbsp;<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_delete">Delete</button></td>
</tr>
<tr>
    <td>character 3</td>
    <td>character 3</td>
    <td>character 3</td>
    <td>character 3</td>
    <td>character 3</td>
    <td>www.character 3.com</td>
    <!-- <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" (click)="store_id(i.Dept_Id)">Edit</button>&nbsp;<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_delete"(click)="store_id(i.Dept_Id)" >Delete</button></td> -->
     <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Edit</button>&nbsp;<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_delete">Delete</button></td>
  </tr>
</table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit character</h4>
      </div>
      <div class="modal-body">
        <md-form-field>
          <input mdInput placeholder="Character ID" [(ngModel)]="Dept_Name" name="username">
      </md-form-field>
      <md-form-field>
        <input mdInput placeholder="Character Name" [(ngModel)]="Dept_Desp" name="username">
      </md-form-field>
      <br>
      <md-form-field>
          <input mdInput placeholder="Character Description" [(ngModel)]="Dept_Code" name="username">
      </md-form-field> 
      <md-form-field>
          <input mdInput placeholder="Character Display Name" [(ngModel)]="Dept_Org_ID" name="username">
      </md-form-field>
      <br>
      <md-form-field>
        <input mdInput placeholder="Character Code" [(ngModel)]="address_line_1" name="username">
      </md-form-field>
      <md-form-field>
          <input mdInput placeholder="Character URL" [(ngModel)]="address_line_2" name="username">
      </md-form-field>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal" (click)="edit()">Edit chracter</button> -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Edit chracter</button>
      </div>
    </div>
    
  </div>
</div>
<div class="modal fade" id="myModal_delete" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete chracter</h4>
      </div>
      <div class="modal-body">
        <p>Are You Want to Delete?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal" (click)="delete()">Delete</button> -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Delete</button>
      </div>
    </div>
    
  </div>
</div>
<div class="modal fade" id="myModal_add" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Character</h4>
        </div>
        <div class="modal-body">
            <md-form-field>
                <input mdInput placeholder="Character ID" [(ngModel)]="Dept_Name" name="username">
            </md-form-field>
            <md-form-field>
              <input mdInput placeholder="Character Name" [(ngModel)]="Dept_Desp" name="username">
            </md-form-field>
            <br>
            <md-form-field>
                <input mdInput placeholder="Character Description" [(ngModel)]="Dept_Code" name="username">
            </md-form-field> 
            <md-form-field>
                <input mdInput placeholder="Character Display Name" [(ngModel)]="Dept_Org_ID" name="username">
            </md-form-field>
            <br>
            <md-form-field>
              <input mdInput placeholder="Character Code" [(ngModel)]="address_line_1" name="username">
            </md-form-field>
            <md-form-field>
                <input mdInput placeholder="Character URL" [(ngModel)]="address_line_2" name="username">
            </md-form-field>
            <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal" (click)="add()">Add Designation</button> -->
          <button type="button" class="btn btn-default" data-dismiss="modal">Add Designation</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
