<!-- side navigation menu -->
<app-side-navigation></app-side-navigation>

<!-- main content -->
<div *ngIf="online$ | async">
<div  class="main_content" >
  <div class="table_division">
    <fusioncharts
      width="95%"
      height="400"
      type="column2d"
      dataFormat="json"
      [dataSource]=data >
    </fusioncharts>
    <fusioncharts
      width="95%"
      height="400"
      type="pie3d"
      [dataSource]=dataSource >
    </fusioncharts>
    <fusioncharts
      width="95%"
      height="400"
      type="mscombi2d"
      [dataSource]=dataSource1>
    </fusioncharts>
    <fusioncharts
      width="95%"
      height="400"
      type="msbar2d"
      dataFormat="json"
      [dataSource]=dataSource2 >
    </fusioncharts>
    <fusioncharts
      width="95%"
      height="400"
      type="column3d"
      dataFormat="json"
      [dataSource]=dataSource3 >
    </fusioncharts>
  </div>
</div>
</div>
