.padding_top_6vh{
  padding-top: 6vh;
}
input{
    width:15%;
}
.module_div{
    outline: auto;
}
.sub_module_div{
    /* outline: auto; */
}
.create_button{
    text-align: center;
    margin-left: 10px;
    margin-bottom: 2%;
}
.mod_name{
    display: inline-block;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 16px;
    margin-left: 15px;
}

  .switch input {display:none;}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    height: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px !important;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  #data-grid-demo {
    min-height: 530px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#myModal1{
width: 100% !important;
height: 100% !important;
max-height: 100% !important;
background-color: transparent;
}
#myModal2{
width: 100% !important;
height: 100% !important;
max-height: 100% !important;
background-color: transparent;
}
.add_user{
    float: right;
}
.headding{
    float: left;
}
#myModal3{
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    background-color: transparent;
}
.module_detail{
    width: 45%;
    display: inline-block;
}
.module_control{
    width: 50%;
    float: right;
}
.submodule_div{
  padding-top:45px;
}
.add_new_module{
  height: 90px;
}
