<app-side-navigation></app-side-navigation>
<div class="padding_top_6vh">
    <div class="page_heading">
        <div class="headding">
        <h1 class="page_title">Organization</h1>
        </div>
        <div class="add_user">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_add" (click)="nullify()" >Create Organization</button>
        </div> 
        </div>
        <div class="table_division">
        <table *ngIf="returnmsg">
          <tr>
            <th>Organization ID</th>
            <th>Organization Name</th>
            <th>Organization Display Name</th>
            <th>Register Information</th>
            <th>City</th>
            <th>Contact Number</th>
            <th>control</th>
          </tr>
          <tr *ngFor="let i of returnmsg  let ia = index ">
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.display_name}}</td>
            <td>{{i.reg_info}}</td>
            <td>{{i.city}}</td>
            <td>{{i.contact_no}}</td>
            <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" (click)="store_id(i.id)">Edit</button>&nbsp;<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_delete"(click)="store_id(i.id)" >Delete</button></td>
          </tr>
        </table>
        </div>
        
        
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Organization</h4>
              </div>
              <div class="modal-body">
              <md-form-field>
                  <input mdInput placeholder="Organization Name" [(ngModel)]="name" name="username">
              </md-form-field>
              <md-form-field>
                <input mdInput placeholder="Organization Display Name" [(ngModel)]="display_name" name="username">
              </md-form-field>
              <br>
              <md-form-field>
                  <input mdInput placeholder="Registration Info" [(ngModel)]="reg_info" name="username">
              </md-form-field> 
              <md-form-field>
                  <input mdInput placeholder="Contact Person" [(ngModel)]="contact_person" name="username">
              </md-form-field>
              <br>
              <md-form-field>
                    <input mdInput placeholder="Logo Path" [(ngModel)]="logo_path" name="username">
              </md-form-field>
              <md-form-field>
                <input mdInput placeholder="Organization Address 1" [(ngModel)]="address_line_1" name="username">
              </md-form-field>
              <md-form-field>
                  <input mdInput placeholder="Organization Address 2" [(ngModel)]="address_line_2" name="username">
              </md-form-field>
              <md-form-field>
                  <input mdInput placeholder="Organization City" [(ngModel)]="city" name="username">
              </md-form-field>
              <md-form-field>
                  <input mdInput placeholder="Organization State" [(ngModel)]="state" name="username">
              </md-form-field>
              <md-form-field>
                  <input mdInput placeholder="Organization Country" [(ngModel)]="country" name="username">
              </md-form-field>
              <md-form-field>
                  <input mdInput placeholder="Organization Pincode" [(ngModel)]="pincode" name="username">
              </md-form-field>
              <md-form-field>
                  <input mdInput placeholder="Organization Email" [(ngModel)]="email" name="username">
              </md-form-field>
              <md-form-field>
                  <input mdInput placeholder="Organization Contact No" [(ngModel)]="contact_no" name="username">
              </md-form-field>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="edit()">Edit Organization</button>
              </div>
            </div>
            
          </div>
        </div>
        <div class="modal fade" id="myModal_delete" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Organization</h4>
              </div>
              <div class="modal-body">
                <p>Are You Want to Delete?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="delete()">Delete</button>
              </div>
            </div>
            
          </div>
        </div>
        <div class="modal fade" id="myModal_add" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Add Organization</h4>
                </div>
                <div class="modal-body">
                        <md-form-field>
                                <input mdInput placeholder="Organization Name" [(ngModel)]="name" name="username">
                            </md-form-field>
                            <md-form-field>
                              <input mdInput placeholder="Organization Display Name" [(ngModel)]="display_name" name="username">
                            </md-form-field>
                            <br>
                            <md-form-field>
                                <input mdInput placeholder="Registration Info" [(ngModel)]="reg_info" name="username">
                            </md-form-field> 
                            <md-form-field>
                                <input mdInput placeholder="Contact Person" [(ngModel)]="contact_person" name="username">
                            </md-form-field>
                            <br>
                            <md-form-field>
                                  <input mdInput placeholder="Logo Path" [(ngModel)]="logo_path" name="username">
                          </md-form-field>
                            <md-form-field>
                              <input mdInput placeholder="Organization Address 1" [(ngModel)]="address_line_1" name="username">
                            </md-form-field>
                            <md-form-field>
                                <input mdInput placeholder="Organization Address 2" [(ngModel)]="address_line_2" name="username">
                            </md-form-field>
                            <md-form-field>
                                <input mdInput placeholder="Organization City" [(ngModel)]="city" name="username">
                            </md-form-field>
                            <md-form-field>
                                <input mdInput placeholder="Organization State" [(ngModel)]="state" name="username">
                            </md-form-field>
                            <md-form-field>
                                <input mdInput placeholder="Organization Country" [(ngModel)]="country" name="username">
                            </md-form-field>
                            <md-form-field>
                                <input mdInput placeholder="Organization Pincode" [(ngModel)]="pincode" name="username">
                            </md-form-field>
                            <md-form-field>
                                <input mdInput placeholder="Organization Email" [(ngModel)]="email" name="username">
                            </md-form-field>
                            <md-form-field>
                                <input mdInput placeholder="Organization Contact No" [(ngModel)]="contact_no" name="username">
                            </md-form-field>
                    <br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="add()">Add Designation</button>
                </div>
              </div>
              
            </div>
          </div>
</div>