
<div class="app-content">
  <div class="group">
    <form>
      <span class="app-action">
        <button md-fab (click)="logout()"><md-icon>exit_to_app</md-icon></button>
      </span><br><br>
      <md-card>
        <md-tab-group >
          <md-tab  *ngFor="let sd of data">
            <ul>
              <i >
                <ng-template md-tab-label>
                  {{sd.from.name}}
                </ng-template>
                <small>Message :</small> <p>{{sd.message}}</p>
              </i>
            </ul>
          </md-tab>
        </md-tab-group>
      </md-card>
    </form>
  </div>
</div>