.offline_text{
    text-align: center;
    padding-top: 30vh;
    font-size: 50px;
    zoom: 1;
}
.offline_button{
    text-align: center;
    font-size: 50px;
    zoom: 1;
    text-align: center;
    margin-left: 35vw;
    width: 30vw;
}