<div id="exTab1" class="container width_100per">	

  <div class="container width_100per"><h2>Example tab 2 (using standard nav-tabs)</h2></div>
  
  <div id="exTab2" class="container width_100per">	
  <ul class="nav nav-tabs">
        <li class="active">
          <a  href="#1" data-toggle="tab">About</a>
        </li>
        <li><a href="#2" data-toggle="tab">Tests </a>
        </li>
        <li><a href="#3" data-toggle="tab">Report</a>
        </li>
      </ul>
  
        <div class="tab-content ">
          <div class="tab-pane active" id="1">
            <h3>profile</h3>
          </div>
          <div class="tab-pane" id="2">
            <h3>Assigning</h3>
          </div>
          <div class="tab-pane" id="3">
            <h3>Report</h3>
          </div>
        </div>
    </div>
    </div>
