<app-side-navigation></app-side-navigation>
<div id="exTab1" class="container padding_lr_null width_100per padding_top_6vh">	

  <div class="container width_100per"><h2>User Name</h2></div>
  
  <div id="exTab2" class="container padding_lr_null width_100per">	
  <ul class="nav nav-tabs">
        <li class="active">
          <a  href="#1" data-toggle="tab">About</a>
        </li>
        <li>
          <a href="#2" data-toggle="tab">Tests </a>
        </li>
        <li>
          <a href="#3" data-toggle="tab">Report</a>
        </li>
      </ul>
  
        <div class="tab-content ">
          <div class="tab-pane active" id="1">
          <div>
            <h3 *ngIf="show==0" (click)="editable()">User Name :{{User_UName}} </h3>
          </div>
          <div>
            <md-form-field *ngIf="show==1" class="inline_block_disp">
                <input  class="input_color" mdInput placeholder="User Name" [(ngModel)]="User_UName" name="User_UName">
            </md-form-field>
            <h3 *ngIf="show==1"  (click)="uneditable()" class="inline_block_disp">Save</h3>
          </div>
          </div>
          <div class="tab-pane" id="2">
            <h3>Assign Tests</h3>
          <div  class="assign_tab">
            <angular2-multiselect [data]="itemList" [(ngModel)]="selectedItems" [settings]="settings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"  (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
              <c-item>
                      <ng-template let-item="item" >
                        <label style="color: #333;min-width: 150px;">{{item.itemName}}</label>
                        <img [src]="item.image" style="width: 30px; border: 1px solid #efefef;margin-right: 20px;" />
                        <label>Description - {{item.capital}}</label>
                      </ng-template>
              </c-item>
            </angular2-multiselect>
          </div>
            <button md-raised-button color="primary" class="assign_button">Assign</button>
          </div>
          <div class="tab-pane" id="3">
            <h3>Report</h3>
          </div>
        </div>
    </div>
    </div>