body {
    padding : 10px ;
  }
  
  #exTab1 .tab-content {
    color : white;
    background-color: #ffffff;
    padding : 5px 15px;
  }
  
  #exTab2 h3 {
    color : rgb(0, 0, 0);
    background-color: #ffffff;
    padding : 5px 15px;
  }
  
  /* remove border radius for the tab */
  
  #exTab1 .nav-pills > li > a {
    border-radius: 0;
  }
  
  /* change border radius for the tab , apply corners on top*/
  
  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
  }
  
  #exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  .assign_button{
    float: right;
    margin-top: 15px;
  }
  .assign_tab{
    color:black;
    transform: rotate(0deg);
  }
  .input_color{
    color:black;
  }
  [type="checkbox"]:checked+label:before{
    transform: rotate(0deg) !important;
  }
  .pure-checkbox[_ngcontent-c4] input[type="checkbox"][_ngcontent-c4]:checked + label[_ngcontent-c4]:before{
    transform: rotate(0deg) !important;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: black;
  }
  
  tr:nth-child(even) {
    color: black;
    background-color: #dddddd;
  }
  .color_black{
    color:black;
  }
  .date_div{
    width: 25%;
    display: inline-block;
  }
  .about_details_height{
    height:60px;
  }